section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3% 30%;
    background-color: skyblue;
    margin: 0 20%;
    border-radius: 10%;
}

article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

img{
    width: 300px;
    height: auto;
    border-radius: 20%;
}

h2{
    color: green;
}
p{
    color: gray;
}
button{
    border: none;
    background-color: palevioletred;
    border-radius: 20%;
}